

body {
	font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Regular.ttf) format('truetype');
}

ol, ul{
	list-style: none;
}

noscript ul{
	list-style-type: none;
	background: #000000;
	color: #FFFFFF;
	padding: 10px;
}
	 
#wrapper1 {
	min-width: 900px;
	min-height: 100%;
	background: url(../img/bg_bottom_pattern.jpg);
}
#wrapper2{
	height: 100%;
	background: url(../img/bg_pattern.jpg);
}

#wrapper3{
	background: url(../img/bg_top.png) 50% 0 repeat-x;
}

#wrapper4{
	width: 940px;
	text-align: right;
	margin:0 auto;
}

/************************ header ************************************/

div #header_right{
	position: absolute;
	top: -20px;
}

div #header{
	height:183px;
	position: relative;
	z-index: 100;
	zoom: 1;
}

#header_logo {
	float: right;
	padding: 10px;
	position: relative;
	top: 69px;
}


#header_logo a{
	width: 225px;
	height: 85px;
	/* display: none; 
	left: -1px;*/
	
}

/************************ header links************************************/


#tmheaderlinks{
	height: 30px;
	float: right;
padding-left: 190px;
padding-top: 10px;
}
#tmheaderlinks li {
	padding: 0 0 0 20px;
	float: right;
}

#tmheaderlinks li a{
	font: 13px;
	font-weight: 600;
	color:#FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	
}

#tmheaderlinks li a:hover, #tmheaderlinks li a.active {
	color: #CF6B50;
}

/************************ languages ************************************/


#languages_block_top{
	font: 12px  Arial;
	height: 39px;
	float: left;
	position: relative;
	left: -100px;
	padding:20px 0 0 0 ;
}

#languages_block_top ul{
	padding:0 10px 0 0;
}

#languages_block_top ul li {
	float: right;
}

#languages_block_top ul li  + li {
	border-right: 1px solid #403937;
	margin: 0 0 0 10px;
	padding: 0 0 0 10px;
	
}

#languages_block_top ul li a{
	display: block;
	font: 12px;
	color: #CF6B50;
	text-decoration: none;
	text-transform: capitalize;
}

#languages_block_top ul li a:hover{
	color: #FFFFFF;
}

#languages_block_top ul li.selected_language {
	font: 11px;
	margin-left:15px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
}
/************************ header user ************************************/

 #header_user {
	height: 29px;
	float: left;
	position: relative;
	left: 25px;
	padding: 20px 0 0 0 ;
}


#header_user ul{
	float: right;
}

#header_user li {
	float: right;
	border-left: 1px solid #403937;
	font: 12px  Arial;
    color: #FFFFFF;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0 ;
}

#header_user #header_user_info a{
	font:11px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: lowercase;
}

#header_user #header_user_info a:hover{
	color: #CF6B50;
}
#header_user .button{
	color: #F8C48C;
}

#header_user .button a:hover{
	color: #FFFFFF;
}

#header_user #header_user_info span{
	font:11px;
	color:#F8C48C;
}

#header_user #your_account a{
	color: #CF6B50;
	text-decoration: none;
}

#header_user #your_account a:hover{
	color: #FFFFFF;
}

/************************ Search ************************************/
div #search_block_top{
	width: 301px;
	height: 35px;
	float: left;
	background: url(../img/search.png) 0 0 no-repeat;
	margin:  29px 0 0;
	position:relative;
	left: -317px;
	top: -10px;
}

div #search_block_top input.search_query{
	width: 246px;
	float: left;
	background: #2b2828;
	border:#2B2828;
	
	margin: 8px 0 0 8px;
}

div #search_block_top a {
	width: 37px;
	height: 0;
	display: block;
	float: right;
	overflow: hidden;
	padding:25px 0 0 0;
}

/************************ categories ************************************/

#tmcategories{
	float: left;
	padding:  29px 0 0 0 ;
	font-weight:700;
	position: relative;
	left: -141px;
	top: -41px;
}

#tmcategories ul {
	margin: 20px;
}

#cat > li{
	float: right;
	position: relative;
	z-index: 100;
}

#cat > li + li {
	padding:  0 0 0 22px;
}

#cat > li > a{
	display: block;
	padding:  5px 10px 0 10px ;
	color:#FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 900;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Bold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Bold.ttf) format('truetype');
}

#cat > li:hover > a,  #cat > li > a.selected{
	color: #CF6B50;
} 

#cat li ul.subcat{
	width: 125px;
	background: #322E2C;
	padding:  10px 10px 22px 10px;
	position: absolute;
	left: -58px;
	top: 17px;

}

#cat li:hover ul.subcat{
	
}

#cat li.subcat li{
	padding: 10px 10px 0 21px;
	position: relative;
}

.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}



#cat ul.subcat li a{
	font: 11px;
	color:#F8C48C;
	text-decoration: none;
}

#cat ul.subcat li a:hover, #cat ul.subcat li a.selected {
	color:#FFFFFF;
}

#cat ul.subcat li ul.subcat {
	left: 185px;
	top:-8px;
}

























#columns{
	float:right;
	padding: 80px 0 0;
}

body#index #columns{
	float: right;
	padding: 0;
}

#left_column{
	width: 220px;
	float: right;
	margin:0 0 20px;
}

#center_column{
	width: 640px;
	min-height: 237px;
	float: right;
	background: #FFFFFF;
	margin:  0 0 40px 20px;
	padding: 0 30px 30px;
}

.center_column p{
	padding-top:12px;
	color: #888888;
}

.center_column a{
	color: #423937;
	text-decoration: underline;
}

#center_column h1 {
font:19px "Open Sans";
font-weight:700;
color:#524643;
text-transform:uppercase;
padding:24px 0 0;
}

#center_column h1 span {
margin-left:15px;
font:normal 12px Arial;
color:#524643;
text-transform:none;
}

.center_column h2,.center_column h3,.center_column h4 {
font-size:12px;
font-weight:700;
color:#524643;
text-transform:uppercase;
padding:14px 0 0;
}














