#primary_block {
font-size:14px;
padding: 0 40px 0 40px;
}
#primary_block h1{
	
}
#primary_block #pb-right-column {
	width: 300px;
	float: right;
	padding: 17px 0 0 0;
}

/**** product img */

#primary_block #image-block {
	width: 300px;
	height: 450px;
}

#primary_block #image-block img#bigpic {
	width: 300px;
	height: 450px;
	cursor: crosshair;
}

/** usefull links  */
	#primary_block ul #usefull_link_block{
		padding: 23px 0 0 0 ;
		clear: both;
		overflow: hidden;
	}
	
	#primary_block ul#usefull_link_block li{
		padding: 7px 0 0 10px;
		background: url(/img/bullet_alt.gif) 0 7px no-repeat;

	}


#primary_block ul#usefull_link_block li a,
#primary_block ul#usefull_link_block  span .span_link{
	text-decoration: underline;
	color: #AA563F;
	cursor: pointer;
}

#primary_block ul#usefull_link_block  li a:hover,
#primary_block ul#usefull_link_block  span.span_link:hover{
	text-decoration: none
}

#primary_block #pb-left-column{
	width: 315px;
	float: right;
	padding: 0 0 0 20px;
}

/*** short description **/
 
 #primary_block #short_description_block, 
 #primary_block #short_description_content p{

 }


#primary_block #short_description_content, div.rte{
 text-align: justify;
 margin: 10px;
 font-size: 14px;
}



/***** buttons****/
#primary_block p.buttons_bottom_block{
	padding: 0;
}

#primary_block p.buttons_bottom_block a{
	margin: 17px 0 0 0 ;
	
}


/**taps****/

ul .idTabs{
	height: 25px;
	padding: 30px 0 0 0;
	clear: both;
}

ul .idTabs li{
	float: right;
}

ul .idTabs li a{
	height:20px;
	display: block;
	padding: 5px 15px 0 15px;
	font: 11px;
	color:#555555;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}

ul .idTabs li a .selected{
	background:#EEEEEE;
	color: #000000;
}

/* tabs short */
ul.idTabsShort li a {
	
}
ul.idTabsShort li a.selected {
	
}


/* tabs content blocks */
div.tabs_content {
	background:#eee;
	padding:14px 20px;
}

/*** tabs contents *****/
div #more_info_sheets{
	
}


/******* idTab1 (product description) *****/
div #idTab1{
	padding: 3px 0;
	
}
div #idTab1 p{
	padding: 0;
}

/****idtab2 (data sheet)****/
ul #idTab2 li{
	padding: 3px 0 3px 10px;
	background: (/img/bullet_alt.gif) 0 7px no-repeat;
}

ul #idTab2 li span{
	font-weight:bold;
}




















