body {
	font-family: Arial, Castellar, "Comic Sans MS";
	font-size: 18px;
}

ol, ul {
	list-style: none;
}

noscript ul {
	list-style-type: none;
	background: #000000;
	color: #FFFFFF;
	padding: 10px;
}

a, span {
	vertical-align: baseline;
}
img {
	vertical-align: top;
	text-decoration: none;
}

html, body {
	width: 100%;
	height: 100%;
}
.bold {
	font-weight: bold;
}

.strike {
	text-decoration: line-through;
}

.clear {
	clear: both;
}
br.clear {
	height: 0;
	clear: both;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}

.clearfix:after {
	clear: both;
	display: block;
	color: #FFFFFF;
	padding: 10px;
}

.clearblock {
	height: 0;
	clear: both;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}

.hidden, .collapsed, .block_hidden_only_for_screen {
	display: none;
}
.center_column p {
	padding-top: 12px;
	color: #888;
}

.center_column a {
	color: #423937;
	text-decoration: underline;
}

.center_column a:hover {
	text-decoration: none;
}

#center_column h1 {
	padding: 10px 40px 0 0;
	font-size: 19px;
	font-weight: 700;
	color: #524643;
	text-transform: uppercase;
}

#center_column h1 span {
	margin-left: 15px;
	font: normal 12px "Arial";
	color: #524643;
	text-decoration: none;
}

.center_column h2, .center_column h3, .center_column h4 {
	padding: 14px 0 0 0;
	font-size: 12px;
	font-weight: bold;
	color: #524643;
	text-transform: uppercase;
}

a.product_link {
	font: 12px;
	font-weight: 600;
	color: #CF6B50;
	text-decoration: none;
	text-transform: uppercase;
}

a.product_link:hover {
	text-decoration: underline;
}

a.product_descr {
	font: 11px;
	color: #423937;
	text-decoration: none;
	text-transform: none;
}

a.product_descr:hover {
	color: #CF6B50;
}

ul.footer_links {
	height: 16px;
	clear: both;
	padding: 30px 0 0 0;
}

ul.footer_links li {
	height: 16px;
	float: right;
	margin: 0 25px 0 0;
}
ul .footer_links li a {
	line-height: 17px;
	color: #D2745A;
	text-decoration: none;
}

ul .footer_links li a:hover {
	color: #423937;
}

ul .footer_links li img.icon {
	margin: 0 5px 0 0;
}

#wrapper1 {
	min-width: 900px;
	min-height: 100%;
	background: url(/img/temp/bg_bottom_pattern.jpg);
}
#wrapper2 {
	height: 100%;
	background: url(/img/temp/bg_pattern.jpg);
}

#wrapper3 {
	background: url(/img/temp/bg_top.png) 50% 0 repeat-x;
}

#wrapper4 {
	width: 940px;
	text-align: right;
	margin: 0 auto;
}

#columns {
	float: right;
	padding: 80px 0 0 0;
}

#left_column {
	width: 220px;
	float: right;
	margin: 0 0 20px 0;
}

.center_column {
	width: 880px;
	min-height: 237px;
	float: right;
	margin: 0 100px 30px 30px;
	background: #FFFFFF;
}

#columns .body_columns {
	width: 940px;
	margin: 0 0 40px 0;
	padding: 0;
	background: none;
}

/************************ header ************************************/

div #header_right {
	position: absolute;
	top: -20px;
}

div #header {
	height: 183px;
	position: relative;
	z-index: 100;
	zoom: 1;
}

#header_logo {
	float: right;
	padding: 10px;
	position: relative;
	top: 69px;
}

#header_logo a {
	width: 225px;
	height: 85px;
	/* display: none;
	 left: -1px;*/

}

/************************ header links************************************/

#tmheaderlinks {
	font-family: 'Droid Arabic Kufi';
	font-style: normal;
	font-weight: 400;
	src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'), url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Regular.woff) format('woff'), url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Regular.ttf) format('truetype');
	height: 30px;
	float: right;
	padding-left: 190px;
	padding-top: 10px;
}
#tmheaderlinks li {
	padding: 0 0 0 20px;
	float: right;
}

#tmheaderlinks li a {
	font: 13px;
	font-weight: 600;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
}

#tmheaderlinks li a:hover, #tmheaderlinks li a.active {
	color: #CF6B50;
}

/************************ languages ************************************/

#languages_block_top {
	font: 12px Arial;
	height: 39px;
	float: left;
	position: relative;
	left: -100px;
	padding: 20px 0 0 0;
}

#languages_block_top ul {
	padding: 0 10px 0 0;
}

#languages_block_top ul li {
	float: right;
}

#languages_block_top ul li  + li {
	border-right: 1px solid #403937;
	margin: 0 0 0 10px;
	padding: 0 0 0 10px;
}

#languages_block_top ul li a {
	display: block;
	font: 12px;
	color: #CF6B50;
	text-decoration: none;
	text-transform: capitalize;
}

#languages_block_top ul li a:hover {
	color: #FFFFFF;
}

#languages_block_top ul li.selected_language {
	font: 11px;
	margin-left: 15px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
}
/************************ header user ************************************/

#header_user {
	height: 29px;
	float: left;
	position: relative;
	left: 25px;
	padding: 20px 0 0 0;
}

#header_user ul {
	float: right;
}

#header_user li {
	float: right;
	border-left: 1px solid #403937;
	font: 12px Arial;
	color: #FFFFFF;
	margin: 0 10px 0 0;
	padding: 0 10px 0 0;
}

#header_user #header_user_info a {
	font: 11px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: lowercase;
}

#header_user #header_user_info a:hover {
	color: #CF6B50;
}
#header_user .button {
	color: #F8C48C;
}

#header_user .button a:hover {
	color: #FFFFFF;
}

#header_user #header_user_info span {
	font: 11px;
	color: #F8C48C;
}

#header_user #your_account a {
	color: #CF6B50;
	text-decoration: none;
}

#header_user #your_account a:hover {
	color: #FFFFFF;
}

/************************ Search ************************************/
div #search_block_top {
	width: 301px;
	height: 35px;
	float: left;
	background: url(/img/temp/search.png) 0 0 no-repeat;
	margin: 29px 0 0;
	position: relative;
	left: -317px;
	top: -10px;
}

div #search_block_top input.search_query {
	width: 246px;
	float: left;
	background: #2b2828;
	border: #2B2828;
	margin: 8px 0 0 8px;
}

div #search_block_top a {
	width: 37px;
	height: 0;
	display: block;
	float: right;
	overflow: hidden;
	padding: 25px 0 0 0;
}

/************************ categories ************************************/

#tmcategories {
	float: left;
	padding: 29px 0 0 0;
	font-weight: 700;
	position: relative;
	left: -141px;
	top: -41px;
}

#tmcategories ul {
	margin: 20px;
}

#cat > li {
	float: right;
	position: relative;
	z-index: 100;
}

#cat > li + li {
	padding: 0 0 0 22px;
}

#cat > li > a {
	display: block;
	padding: 5px 10px 0 10px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Droid Arabic Kufi';
	font-style: normal;
	font-weight: 900;
	src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'), url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Bold.woff) format('woff'), url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v2/DroidKufi-Bold.ttf) format('truetype');
}

#cat > li:hover > a, #cat > li > a.selected {
	color: #CF6B50;
}

#cat li ul.subcat {
	width: 125px;
	background: #322E2C;
	padding: 10px 10px 22px 10px;
	position: absolute;
	left: -58px;
	top: 17px;
}

#cat li:hover ul.subcat {

}

#cat li.subcat li {
	padding: 10px 10px 0 21px;
	position: relative;
}

.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}

#cat ul.subcat li a {
	font: 11px;
	color: #F8C48C;
	text-decoration: none;
}

#cat ul.subcat li a:hover, #cat ul.subcat li a.selected {
	color: #FFFFFF;
}

#cat ul.subcat li ul.subcat {
	left: 185px;
	top: -8px;
}

/************************** general block styles ********************/

div #columns {
	float: right;
}

div #columns a {
	color:  :#fff;
	text-decoration: none;
}

div #columns a:hover {
	text-decoration: underline;
}

div #center_tag {
	text-align: center;
	height: 100px;
	padding-bottom: 30px;
}

div #center_tag img {
	border: 2px solid #C5AB7C;
	height: 100px;
	width: 300px;
	box-shadow: 30px 10px 50px #836838;
	border-radius: 10px;
}

div #center_tag a h4 {
	position: relative;
	top: -110px;
	font-size: 29px;
	font-weight: bold;
	color: #322E2C;
	text-decoration: none;
}

div #center_tag h4:hover {
	color: #FFFFFF;
	text-decoration: none;
}

div .block_content {
	margin: 20px;
	height: 100%;
}

/**********************************home featured product_block_center ************************************/

#featured-products_block_center {
	width: 1000px;
	margin: 0 0 0 -30px;
}

#featured-products_block_center ul {
	width: 931px;
	float: right;
	padding: 0 0 0 42px;
	background: url(/img/temp/feat_shelf.png) 0 0 repeat-y;
}

#featured-products_block_center ul li {
	width: 156px;
	height: 228px;
	float: right;
	margin: 0 70px 0 0;
	padding: 4px 0 76px 0;
	background: url(/img/temp/feat_item.png) 0 0 no-repeat;
	position: relative;
}

#featured-products_block_center ul li img.product_image {
	width: 150px;
	height: 222px;
	float: left
}

div  .popup_item {
	width: 536px;
	height: 286px;
	padding: 40px;
	position: absolute;
	left: -288px;
	z-index: 1000;
	display: none;
	color: #cf6b50;
	font-weight: bold;
}

div  .popup_item img {
	float: left;
}

div .popup_item a {
	color: #000000;
}

div .popup_item h5{
	padding-top:20px;
	
}

div .popup_item p{
	color:  #cf6b50;
	font-size: 14px;
	text-align: center;
	position: relative;
	left: 31px;
	
}

div .cancel {
	
	margin: 0;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	color: white;
}

.cancel:hover {
	background: #000000;
}

div .cancel img{
	display: relative;
	cursor: pointer;
	float: right;
	position:inherit;
	top:10px;
}


/******************************* new products***********************/

#new-products_block_center {
	width: 1000px;
	margin: 0 0 0 -30px;
}

#new-products_block_center ul {
	width: 931px;
	float: right;
	padding: 0 0 0 42px;
	background: url(/img/temp/feat_shelf.png) 0 0 repeat-y;
}

#new-products_block_center ul li {
	width: 156px;
	height: 228px;
	float: right;
	margin: 0 70px 0 0;
	padding: 4px 0 76px 0;
	background: url(/img/temp/feat_item.png) 0 0 no-repeat;
	position: relative;
}

#new-products_block_center ul li img.product_image {
	width: 150px;
	height: 222px;
	float: left
}

div  .popup_item {
	width: 536px;
	height: 286px;
	padding: 40px;
	position: absolute;
	left: -288px;
	z-index: 1000;
	display: none;
	color: #cf6b50;
	font-weight: bold;
}

div  .popup_item img {
	float: left;
}

div .popup_item a {
	color: #000000;
}

div .popup_item h5{
	padding-top:20px;
	
}

div .popup_item p{
	color:  #cf6b50;
	font-size: 14px;
	text-align: center;
	position: relative;
	left: 31px;
	
}

div .cancel {
	
	margin: 0;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	color: white;
}

.cancel:hover {
	background: #000000;
}

div .cancel img{
	display: relative;
	cursor: pointer;
	float: right;
	position:inherit;
	top:10px;
}

/******* test*****/

#test-products_block_center {
	width: 1000px;
	margin: 0 0 0 -30px;
}

#test-products_block_center ul {
	width: 931px;
	float: right;
	padding: 0 0 0 42px;
	background: url(/img/temp/feat_shelf.png) 0 0 repeat-y;
}

#test-products_block_center ul li {
	width: 156px;
	height: 228px;
	float: right;
	margin: 0 70px 0 0;
	padding: 4px 0 76px 0;
	background: url(/img/temp/feat_item.png) 0 0 no-repeat;
	position: relative;
}

#test-products_block_center ul li img.product_image {
	width: 150px;
	height: 222px;
	float: left
}

div  .popup_item {
	width: 536px;
	height: 286px;
	padding: 40px;
	position: absolute;
	left: -288px;
	z-index: 1000;
	display: none;
	color: #cf6b50;
	font-weight: bold;
}

div  .popup_item img {
	float: left;
}

div .popup_item a {
	color: #000000;
}

div .popup_item h5{
	padding-top:20px;
	
}

div .popup_item p{
	color:  #cf6b50;
	font-size: 14px;
	text-align: center;
	position: relative;
	left: 31px;
	
}

div .cancel {
	
	margin: 0;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	color: white;
}

.cancel:hover {
	background: #000000;
}

div .cancel img{
	display: relative;
	cursor: pointer;
	float: right;
	position:inherit;
	top:10px;
}

/*******************************footer***************************/
#footer_wrapper {
	clear: both;
	height: 266px;
	background: url(/img/temp/bg_bottom.png) 0 0 repeat-x;
}

#footer {
	width: 940px;
	margin: 0 auto;
}

/******************************    tmfooterlinks *****************/

#tmfooterlinks {
	float: right;
	padding-right: 50px;
}

#tmfooterlinks div {
	width: 300px;
	float: right;
	padding: 0 20px 0 0;
}

#tmfooterlinks h4 {

	font: 11px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

#tmfooterlinks ul {

}

#tmfooterlinks ul li {
	padding: 5px 0 0 0;
}

#tmfooterlinks ul li a {
	font: 11px Arial;
	color: #fff;
	text-decoration: none;
}

#tmfooterlinks ul li a:hover {
	color: #F8C48C;
}

#tmfooterlinks p {
	padding: 17px 0 0 160px;
	clear: both;
	font: 11px Arial;
	color: #CF6B50;
}

#tmfooterlinks p a {
	font: 11px Arial;
	color: #CF6B50;
	text-decoration: none;
}

#tmfooterlinks p a:hover {
	color: #F8C48C;
}

/* ————— tmsocial.tpl ————— */
#tmsocial {
	float: left;
	padding: 48px 30px 0 0;
}

#tmsocial a {
	width: 38px;
	height: 38px;
	display: block;
	float: right;
}
#tmsocial a + a {
	margin: 0 0 0 9px;
}

